@{ ViewData["Title"] ="Brincadeiras"; }

<div class="fundo">
    <div class="Audio">
        <audio controls>
            <source src="" type="Type of the audio">
        </audio>
    </div>

    <div class=" container container-text">
         <h2>Introdução</h2>
            <p>Na educação, de maneira geral o uso de jogos e brincadeiras lúdicas no auxilio à educação de crianças e jovens, esta edução é essencial especialmente se tratando de pessoas algum tipo de defiência, independente de ser fisica ou intelectual como é o caso dos Autistas</p>
            <p>Neste artigo iremos abordar multiplas ideias de jogos e brincadeiras que podem ser trabalhados com os potadores do espectro autista tanto em sala de aula quanto fora dela.</p>
    </div>
</div>

