<div class="container">
    <div class="row">
        <div class="col-sm coluna">
            <div class="game-image">
                <a><img src="" alt="Caça palavras"></a>
            </div>

            <div class="game-description">
                <h1>Nome do Jogo</h1>
                <p>Paragrafo que descreve o game</p>
            </div>
        </div>

        <div class="col-sm coluna">
            <div>

            </div>

            <div>

            </div>
        </div>
        <div class="col-sm coluna">
            <div>

            </div>

            <div>

            </div>
        </div>
    </div>
</div>