@{
    ViewData["Title"] = "Home Page";
}

<span>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/carrousel/image1.png" class="carrousel-images" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/images/carrousel/image2.png" class="carrousel-images" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/images/carrousel/image3.png" class="carrousel-images" alt="...">
                </div>
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            </div>
          </div>
    </span>

    <main class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <a href="#"><img src="~/images/conteudo/teste.jpg"
                            alt="Link para o conteudo descritivo sobre autismo" class="imagens"></a>
                    <br>
                </div>
                <div class="col-sm">
                    <a href="#"><img src="~/images/conteudo/avaliacao.jpg" alt="Link para o teste on-line"
                            class="imagens"></a>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm home-fundo">
                    <h1>Sobre o autismo</h1>
                    <p class="paragrafo">Leia sobre o que é o autismo, suas características, como foi descoberto, como
                        costuma ser tratado e muito mais</p>
                </div>
                <div class="col-sm home-fundo">
                    <h1>Teste on-line</h1>
                    <p class="paragrafo">Faça nosso teste on-line para verificar se você pode ter autismo, e até mesmo
                        conseguir acompanhamento médico</p>
                </div>
            </div>
            <div class="home-fundo">
                <h1>Instituições que trabalham com autismo</h1>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a href="#"><img src="~/images/conteudo/AMA.jpg" alt="Link para alguma instituição"
                            class="imagens"></a>
                    <br>
                </div>
                <div class="col-sm">
                    <a href="#"><img src="~/images/conteudo/APAE.jpg" alt="Link para alguma instituição"
                            class="imagens"></a>
                    <br>
                </div>
                <div class="col-sm">
                    <a href="#"><img src="~/images/conteudo/AAPA.jpg" alt="Link para alguma instituição"
                            class="imagens"></a>
                    <br>
                </div>
                <div class="col-sm">
                    <a href="#"><img src="~/images/conteudo/AUMA.jpg" alt="Link para alguma instituição"
                            class=imagens></a>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm home-fundo">
                    <h1>AMA</h1>
                    <p class="paragrafo">A associação de amigos do autista (AMA), é uma organização sem fins lucrativos
                        que há mais de 30 anos busca, ajudar e conscientizar as pessoas sobre o trnstorno do espectro
                        Autista.</p>
                </div>
                <div class="col-sm home-fundo">
                    <h1>APAE</h1>
                    <p class="paragrafo">Associação de pais e amigos do exepicionais, é uma ONG que trabalha no auxilio
                        de pessoas com todos os tipos de deficiência, incluindo os autistas.</p>
                </div>
                <div class="col-sm home-fundo">
                    <h1>AAPA</h1>
                    <p class="paragrafo">A associação de apoio à pessoa autista, é uma organização com sede no rio de
                        Janeiro, que busca promover a inclusão de pessoas autistas.</p>
                </div>
                <div class="col-sm home-fundo">
                    <h1>AUMA</h1>
                    <p class="paragrafo">Associação de amigos da criança autista, é uma organização que há 33 anos busca
                        promover e oferecer ensino adaptado de qualidade para pessoa com TEA</p>
                </div>
            </div>
            <div class="home-fundo">
                <h1>Doe o quanto puder</h1>
            </div>
            <div class="row">
                <div class="col-sm home-fundo">
                    <img src="~/images/QRcode/code1.png" alt="QR code aqui" class="Qcode">
                    <h2 class="Qcode">Doe 5 reais</h2>
                </div>

                <div class="col-sm home-fundo">
                    <img src="~/images/QRcode/code2.png" alt="QR code aqui" class="Qcode">
                    <h2 class="Qcode">Doe 10 reais</h2>
                </div>

                <div class="col-sm home-fundo">
                    <img src="~/images/QRcode/code3.png" alt="QR code aqui" class="Qcode">
                    <h2 class="Qcode">Doe 20 reais</h2>
                </div>

                <div class="col-sm home-fundo">
                    <img src="~/images/QRcode/code4.png" alt="QR code aqui" class="Qcode">
                    <h2 class="Qcode">Doe outros valores</h2>
                </div>
            </div>
        </div>
    </main>
    