@{
    ViewData["Title"] = "Sobre";
}

<form action="post">
    <div class="Container-General">
        <h1> Astistic Group</h1>
        <div class="General-Vision">
            <h2>Visao geral</h2>
            <div class="row">
                <div class="col-sm"><img src="../../images/conteudo/CPS.jpg" alt="Logo CPS"></div>
                <div class="col-sm"><img src="../../images/conteudo/ETEC_DANS.jpg" alt="Logo ETEC"></div>
            </div>

            <div class="Information-Group">
                <p>Nós somos estudantes da rede pública de ensino pertencente ao Centro Paula Souza (CPS), na Etec Dr
                    Adail Nunes da Silva (Etec Dans), no municipio paulista de Taquaritinga.</p>
                <p>Nós somos estudantes do curso de desenvolvimento de sistemas, sendo este website o nosso trabalho de
                    conclusão de curso (TCC), ao qual nós tanto nos dedicamos para que fosse construído</p>
            </div>

            <div class="Group-Integrants">
                <div class="">
                    <h2>Julia</h2>
                    <img src="" alt="Foto de perifil">
                </div>
                <div class="ms-auto">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos veniam, fugit libero
                        deserunt, itaque nulla, tenetur labore doloremque nihil culpa aperiam dolorem obcaecati
                        perferendis quaerat quasi. Laudantium consequuntur aut expedita!</p>
                </div>

                <div>
                    <h2>Mariana</h2>
                    <img src="" alt="foto de perfil">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ratione et quaerat dolor
                            explicabo. Quaerat quod ipsum, expedita quisquam ullam tempora est, recusandae hic commodi
                            suscipit qui, quas facilis nesciunt.</p>
                    </div>
                </div>
                <div>
                    <h2>Pedro Pivetta</h2>
                    <img src="" alt="foto de perfil">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint non provident, est magni earum
                            quasi iusto reprehenderit cumque voluptas dignissimos. Ipsam fugiat possimus nulla voluptate
                            commodi molestias alias neque ex.</p>
                    </div>
                </div>
                <div>
                    <h2>Pedro Oliveira</h2>
                    <img src="" alt="foto de perfil">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quasi nesciunt ratione
                            pariatur mollitia corrupti ad officiis consequatur veritatis praesentium, maxime obcaecati
                            error sed quas eos ullam omnis fuga est.</p>
                    </div>
                </div>
                <div>
                    <h2>Guilherme Henrrique</h2>
                    <img src="" alt="foto de perfil">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est reprehenderit sit, facere
                            blanditiis temporibus iste praesentium vero quia esse excepturi veniam necessitatibus.
                            Expedita fugiat repudiandae praesentium ea possimus, voluptatibus ratione?</p>
                    </div>
                </div>
            </div>

            <div class="Project-Informations">
                <h2>Sobre o projeto</h2>
                <img src="" alt="Logo do nosso site">
                <div>
                    <p>O projeto Astistic como dito anteriormente foi criado para ser o nosso trabalho de conclusão de
                        curso (TCC), onde o tema escolhido foi o autismo</p>
                    <p>O website foi criado, dentre outras causas, para conscientizar as pessoas sobre o que é o
                        autismo, seu tratamento e as suas características dentre outras muitas informações reelevantes a
                        respeito deste assunto.</p>
                </div>
            </div>


        </div>
</form>