.box-information {
    background-color: rgba(241, 241, 241, 0.9);
    border-radius: 6px;
    margin-top: 3%;
    padding-bottom: 2%;
}

.MedPicture {
    margin-top: 10%;
    margin-bottom: 3%;
    width: 45vh;
    height: 45vh;
}

.change-buttons {
    margin-left: 22%;
}

.Red-cadastro {
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    color: black;
    background-color: #4F94EA;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
}

input[type="file"]::file-selector-button {
    background-color: lightcyan;
    border-radius: 7px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    outline: none;
    border: none;
}

input[type="file"] {
    border: solid black 1px;
    margin-left: 3px;
    border-radius: 7px;
}

.file {
    margin-top: 4%;
    background-color: white;
    width: 65%;
}

.details {
    background-color: white;
    margin-top: 4%;
    border-radius: 7px;
    text-align: justify;
    padding-left: 6%;
    padding-bottom: 1%;
    padding-top: 1%;
}

details > h1{
    color: rgb(31, 121, 121);
    font-size: 35px;
}

.foto-div
{
margin-top: 11%;
}

.details > h1
{
    color: rgb(31, 121, 121);
    font-size: 35px;
    margin-top: 6%;
}

.foto-div > h1
{
    color: rgb(31, 121, 121);
    font-size: 35px;
    margin-top: 6%;
}

.details > p {
    font-size: 25px;
}

.foto-button {
    outline: none;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-left: 3.3%;
    padding-right: 3.3%;
    border: solid black 1px;
    border-radius: 7px;
    background-color: #4F94EA;
}

.diploma-button
{
        outline: none;
        padding-top: 1.2%;
        padding-bottom: 1.2%;
        border: solid black 1px;
        border-radius: 7px;
        background-color: #4F94EA; 
}

