@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Tektur:wght@600&display=swap');


audio
{
margin-top: 3%;
}


.container-text
{
text-align: justify;
font-family: "Lexend", Arial, Helvetica, sans-serif;
margin-top: 3%;
}

